<!DOCTYPE HTML>
<html>
	<head>
		<title>Height processing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
			</header>


		<!-- Heading -->
			<div id="heading" >
				<h1>Height processing</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>Enter your height data</h2>
						</header>
						<form action="{{url_for('input')}}" method="POST">
							<input title="Email" placeholder="Enter your email address" type="email" name="email_name" required> <br>
							<input title="Height" placeholder="Enter your height in cm" type="number" min="50" max="270" name="height_name" required> <br>
							<button type="submit"> Submit </button>
						</form>
						<hr />
						</div>
				</div>
			</section>
	</body>
</html>